<a href="https://colab.research.google.com/github/abdulloyev/DataScientis-openSource/blob/main/%233%20Pandas%20-%20GitHub%20file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Failni o'qib olish va boshidagi 10 ta strni ko'rish

In [ ]:
import pandas as pd
import numpy as np

github_link = "https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv"

# GitHub file red
df = pd.read_csv(github_link, index_col=0)
df.head(10)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,5700,dodge,mpv,2018,clean vehicle,45561,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left
6,7300,chevrolet,pk,2010,clean vehicle,149050,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left
7,13350,gmc,door,2017,clean vehicle,23525,gray,1gks2gkc3hr326762,167692494,california,usa,20 hours left
8,14600,chevrolet,malibu,2018,clean vehicle,9371,silver,1g1zd5st5jf191860,167763267,florida,usa,22 hours left
9,5250,ford,mpv,2017,clean vehicle,63418,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left

## Failning bo'sh ustunlar sonini teksherish

In [ ]:
df.isnull().sum()

price           0
brand           0
model           0
year            0
title_status    0
mileage         0
color           0
vin             0
lot             0
state           0
country         0
condition       0
dtype: int64

## *1) **df.info()** datasetdagi ustunlar, ularning turi va nechta qiymat mavjudligi haqida ma’lumot beradi*

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2499 entries, 0 to 2498
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         2499 non-null   int64
 1   brand         2499 non-null   object
 2   model         2499 non-null   object
 3   year          2499 non-null   int64
 4   title_status  2499 non-null   object
 5   mileage       2499 non-null   int64
 6   color         2499 non-null   object
 7   vin           2499 non-null   object
 8   lot           2499 non-null   int64
 9   state         2499 non-null   object
 10  country       2499 non-null   object
 11  condition     2499 non-null   object
dtypes: int64(4), object(8)
memory usage: 253.8+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

df['brand'] = encoder.fit_transform(df['brand'])
df['model'] = encoder.fit_transform(df['model'])


df.head(10)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,27,25,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,8,92,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,7,75,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,8,32,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,5,0,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,5700,7,75,2018,clean vehicle,45561,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left
6,7300,5,86,2010,clean vehicle,149050,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left
7,13350,9,32,2017,clean vehicle,23525,gray,1gks2gkc3hr326762,167692494,california,usa,20 hours left
8,14600,5,71,2018,clean vehicle,9371,silver,1g1zd5st5jf191860,167763267,florida,usa,22 hours left
9,5250,8,75,2017,clean vehicle,63418,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left